.header h1 {
  color: white;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  @media (max-width: 768px) {
    & {
      font-size: 1.5rem;
    }
  }
}
.header {
  height: auto;
}

.cards-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  max-width: 85rem;
  margin: 0 2.5rem;
  @media (min-width: 600px) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 992px) {
    & {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1440px) {
    & {
      grid-template-columns: repeat(4, 1fr);
      margin: 0 auto;
    }
  }

  .ant-card {
    cursor: initial;
    border-radius: 0.5rem;
  }
  img {
    width: 100%;
    height: 200px;
    border-radius: 0.5rem 0.5rem 0 0;
    object-fit: cover;
  }
  .links {
    display: flex;
    background: white;
    align-self: flex-end;
  }
}

footer {
  text-align: center;
  margin-top: 3rem;
}
